/*$font-stack: ('Helvetica', 'Arial', sans-serif);
$font-stack-headings: ('Helvetica', 'Arial', sans-serif);
$dark-blue:     rgba(5,30,65,1);
$white:         rgba(255,255,255,1);

body {
    background: $dark-blue;
    background: linear-gradient(-45deg, darken($dark-blue, 10%) 0%, darken($dark-blue, 5%) 45%, $dark-blue 100%);
    color: $white;
    font-family: $font-stack;
}

h1 {
    background-color: rgba(22,124,212,1);
    background-image: linear-gradient(45deg, rgba(80,215,180,1), rgba(22,124,212,1), rgba(190,65,165,1));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    display: inline-block;
}*/